
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Poppins&family=Roboto&family=Source+Sans+Pro:wght@600&family=Zilla+Slab:ital,wght@1,300&display=swap');

html {scroll-behavior:smooth;}
body {background:#fff; color:#2c2c2c; font-family: 'Montserrat', sans-serif; font-size:16px; font-weight:400; line-height:1.6;}

.font-montserrat {font-family: 'Montserrat', sans-serif;}
.font-poppins {font-family: 'Poppins', sans-serif;}
.font-roboto {font-family: 'Roboto', sans-serif;}
.font-source {font-family: 'Source Sans Pro', sans-serif;}
.font-zilla {font-family: 'Zilla Slab', serif;}
  
*, *:focus {outline:none !important; transition:all 0.3s ease 0s;}

a {text-decoration:none !important; color:#2c2c2c;} a:hover{color:#b20035;}
p{margin-bottom:25px;} .nomrgn{margin:0px !important;}

.Bor:after {border-bottom:1px solid #fff; content:"";display:block; margin:0px 0px 35px 0px; padding-bottom:33px; width:100px;}

.breadcrumb{color:#818181; margin:0px; background-color:transparent;padding:0 0 15px; font-size:12px; border-bottom:solid 1px #dddddd;}
.breadcrumb>li+li:before{content:"\27A4";color:#818181; margin:0 10px;}
.breadcrumb a{color:#487201;}
.rounded-3 {border-radius: 20px !important;}
/******* Helpers ********************************************************************/
.ImgFade{background-color:#000;}
.ImgFade img{opacity: 0.9; filter: alpha(opacity=90); /* For IE8 and earlier */}
.box-shadow{box-shadow:10px 10px 20px rgba(0,0,0,0.1);}


/***************************/
.btn{moz-transition: all 0.3s ease-in; -webkit-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in;text-decoration:none !important; font-weight:400; font-size:14px; padding:14px 30px; font-family: 'Montserrat', sans-serif; vertical-align:top; text-transform:capitalize;; border-radius:10px; box-shadow:none !important;}


.btn-danger{background:#b20035 !important; border-color:#b20035 !important;color:#fff !important;}
.btn-danger:hover,.btn-danger.focus,.btn-danger:focus{background-color:#fff !important; border-color:#fff !important;color:#b20035 !important;}

.btn.btn-sm{padding:14px 40px !important;}
/*****************************/
.fw-light{font-weight:300 !important;}
.fw-normal{font-weight:400 !important;}
.fw-semi{font-weight:600 !important;}
.fw-bold{font-weight:700 !important;}

.fs-14{font-size:14px !important;}
.fs-18{font-size:18px !important;}
.fs-25{font-size:25px !important;}
.fs-36{font-size:36px !important;}

.lh-1{line-height:1 !important;}

.ls-1{letter-spacing:-.010em !important;}
.ls-2{letter-spacing:.25em !important;}
.ls-4{letter-spacing:.040em !important;}
.ls-22{letter-spacing:.22em !important;}
.ls-24{letter-spacing:.24em !important;}
.ls-15{letter-spacing:.015em !important;}

.bg-warning {background:#f5831b !important;}

/*****************************/
.text-danger {color:#97002d !important;}
.text-secondary {color:#444444 !important;}
.text-dark {color:#000 !important;}
.text-primary {color:#111111 !important;}
.text-info {color:#999999 !important;}
/*****************************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {}
h1, .h1 {font-size:48px;}
h2, .h2 {font-size:40px;}
h3, .h3 {font-size:24px;}
h4, .h4 {font-size:14px;}
h5, .h5 {font-size:12px;}

/*******************************************************************/
input.form-control,input.form-control:focus {font-size: 13px; height: calc(2.5em + 1.2rem + 2px); box-shadow:none;font-family: 'Source Sans Pro', sans-serif;}
select.form-control {font-size:13px; height:calc(1.5em + 1.2rem + 2px);}
textarea.form-control {font-size:13px; resize:none;}
textarea.form-control:not([rows]) {height:136px;}
.form-control::-moz-placeholder {color:#272727; opacity: 1;}

/**************************************************************/
.MainBanner .mask{position:absolute; top:0px; right:0%; left:0%; z-index:99; background:url(../images/bnr-shadow.png) repeat-x top; min-height:100%;}
.MainBanner .carousel-indicators {z-index:999; bottom:-60px;}
.MainBanner .carousel-indicators li {background-color:transparent; opacity:1;border-radius:50%; width:16px; height:16px; border:solid 1px #a2b5d1;} 
.MainBanner .carousel-indicators .active {background-color:#a2b5d1 !important;width:16px; height:16px;}

/****************************************************************/
.Borderhd {line-height: 0.5;text-align: center;}
.Borderhd span {display: inline-block;position: relative;  }
.Borderhd span:before,.Borderhd span:after {content: "";position: absolute; border-bottom-color:#b8b8b8 !important; border-bottom:double; border-width:4px; top:8px;width:50%;}
.Borderhd span:before {right: 100%;margin-right:45px;}
.Borderhd span:after {left: 100%;margin-left:45px;}


/***********************************************************************/
ul.orange li {color: #3c3c3c;list-style: none;position: relative;}
ul.orange li::before {color: #f69322; content: "\2022"; font-size:1.5em; position: absolute; top: -8px; left: -20px;}

/********** Back To Top Button ***************************************************************************************************/
#scroll {position:fixed; right:10px; bottom:10px; z-index:99999; cursor:pointer; width:45px; height:45px; text-align:center; line-height:43px; background:#b20035; color:#fff !important;}
#scroll:hover {opacity:.7;}